<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>Danh sach ung vien co 5 nam kinh nghiem</h1>
<table>
    <thead>
    <tr>
        <td>id</td>
        <td>full name</td>
        <td>email</td>
        <td>phone</td>
    </tr>
    </thead>
    <tbody>
    <tr th:each="candidate:${candidateYear5}">
        <td th:utext="${candidate.getId()}"></td>
        <td th:utext="${candidate.getFullName()}"></td>
        <td th:utext="${candidate.getEmail()}"></td>
        <td th:utext="${candidate.getPhone()}"></td>
    </tr>
    </tbody>
</table>
</body>
</html>